<div class="container">
<div class="imageFront text-center"></div>
<div class="textInfo text-center">
  <h1>Bienvenido a IncaWays</h1>
  <p>IncaWays es una empresa de viajes y turismo, dedicada al asesoramiento de planeamiento de viajes en todo el Peru, via proposicion de las mejores ofertas de vuelos, estadias y, en un futuro; mas funcionalidades por venir. Su objetivo principal es optimizar la calidad del servicio de reservas en todo el pais, ademas de mantener la confiabilidad y fidelidad de nuestros clientes (Tanto empresas como usuarios finales).</p>
</div>
</div>